data/aligned.fasta.zst
data/metadata.tsv.zst
sim/output/aligned.min-date.2020-09-01.max-date.2023-03-31.division.England.fasta
sim/output/aligned.min-date.2020-09-01.max-date.2023-03-31.division.England.metadata.tsv
sim/output/seq_pango_sorted.csv
sim/output/simulated_sequences/recombinants.csv
sim/output/simulated_sequences/controls.csv
sim/.snakemake
.DS_Store
real-data-analysis/output/aligned.min-date.2020-09-01.max-date.2023-03-31.division.England.fasta
real-data-analysis/output/aligned.min-date.2020-09-01.max-date.2023-03-31.division.England.metadata.tsv
real-data-analysis/output/sliding_windows
real-data-analysis/.snakemake
